<?xml version="1.0" encoding="UTF-8" ?>
<settings> 
	
	<!--  -->
	<listen-address>127.0.0.1</listen-address>
	
	<!-- tcp listening port -->
	<listen-port>8282</listen-port>
	
	<!-- total amoumt of http-request per seconds valid for all running projects -->
	<max-requests-per-second>100</max-requests-per-second>
	
	<!--  source factory instances (reusable http-clients)  --> 
	<number-http-clients>100</number-http-clients> 
	
	<!-- max. running projects  --> 
	<number-max-clients>100</number-max-clients>
	
	<!-- 1 message thread in backend might be enough for most needs  -->
	<number-message-threads>1</number-message-threads>	
	
	
</settings>

